.tag td{
	width: 300px;
	height: 50px;
	background-color: white;
	text-align: center;
	font-size: 35px;
}
.tag td a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.tag td:hover{
	background-color: blue;
}
.tag td a:hover{
	color: white;
}
.adver td{
	width: 200px;
	height: 200px;
	font-size: 30px;
}
.footerindex{
	width: 100%;
	height: 20px;
	background-color: black;
}
.footerindex tr td{
	color: white;
	font-size: 20px;
	text-align: center;
}










.item tr td{
	text-align: center;
	width: 250px;
	font-size: 20px;
	font-family: arial;
	color: white;
}
.radius img{
	border-radius: 46%;
	/*padding: 8px;
	width: 220px;
	height: 180px;*/
	filter: opacity(0.5);
}

.radius img:hover{
	filter: opacity(1);
	transition: 0.5s;
}